<footer>
    <div class="page__header page-header">
        <img class="introduction__img introduction__img--desktop" src="../img/logo/Your_Devops_Mentor.svg"
             alt="your devops mentor logo">
        <div class="page-header__inner">
            <nav class="page-header__nav main-nav">
                <a href="#" class="main-nav__sections">Home</a>
                <a href="#" class="main-nav__sections">Blog</a>
                <a href="#" class="main-nav__sections">Apply</a>
                <a href="#" class="main-nav__sections">FAQ</a>
            </nav>

            <div class="privacy-terms">
                <p class="privacy-policy">Privacy Policy</p>
                <p class="terms">Terms of Service</p>
            </div>
        </div>
    </div>
</footer>