<header>
    <div class="page__header page-header">
        <img class="introduction__img introduction__img--desktop" src="../img/logo/Your_Devops_Mentor.svg"
             alt="your devops mentor logo">
        <nav class="page-header__nav main-nav">
            <a href="#" class="main-nav__sections">Home</a>
            <a href="#" class="main-nav__sections">Blog</a>
            <a href="#" class="main-nav__sections">FAQ</a>
            <a href="#" class="main-nav__sections">Apply</a>
            <a href="#" class="main-nav__sections main-nav__sections--active">My account</a>
        </nav>
    </div>
</header>